.container {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

#data {
    width: 750px;
    margin: 0 auto;
}

#data span {
    width: 50px;
    margin: 0 auto;
}
 
canvas {
    left: 0px;
    top: 0px;
}

#sphere_selection {
    border: 1px solid #666;
}

#sphere {
    position: absolute;
    z-index: 10;
}