.container {
    position: relative;
    display: block;
    width: 800px;
    margin: auto;
}
 
#flball {
    position: absolute;
    z-index: 10;
}

canvas {
	margin: 0 auto;
	left: 0px;
    top: 0px;
	display: block;
}